/*
  Global Styles
*/
body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  margin-top: 75px;
  margin-bottom: 75px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

p, ul {
  font-size: 18px;
}

footer {
  height: 45px;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
}
